<!DOCTYPE html>
<html lang="en">
<head>
<!--    <base href="http://localhost/cgi-bin/pheide" />-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="The personal website of Christine Gerpheide"/>
    <meta name="keywords" content="gerpheide,christine gerpheide, {page.title}, {tab.title}"/>
    <link rel="stylesheet" href="resources/styles/global.css" type="text/css" media="all" />
    <script type="text/javascript" src="resources/scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="resources/scripts/global.js"></script>

    <script src="resources/scripts/highlight/highlight.pack.js"></script>
    <script>
        hljs.tabReplace = '    ';
        hljs.initHighlightingOnLoad();
    </script>
    <link rel="stylesheet" href="resources/scripts/highlight/styles/github.css">

    <title>Pheide : %%%page_title%%% | %%%tab_title%%% </title>

</head>
<body>
<div id="page">
    <div id="auth_button">%%%auth_button%%%</div>
    <div id="header">
        %%%header_images%%%
        <div id="label"></div>
        <div id="current">
            %%%page_title%%%
        </div> <!-- current -->
    </div> <!-- end header -->
    <ul id="cats">
        %%%tab_bar%%%
        %%%plus_tab%%%
        %%%new_tab%%%
    </ul> <!-- cats -->

